{% extends '::base.html.twig' %}

{% block body %}
<div>
<div class="leave-27-left">
	<span class="samar-label">Search your product:</span>
	<input type="text" height="50">
	
</div>
<div style="position:absolute;top:10%;left:35%;">
<img src="{{ asset('img/12.jpg') }}" width="300px" height="300px"><br>
</div>

<div style="position:absolute;top:30%;left:30%;">

<label style="font-size:20px;color:#3a87ad;" >Your rating:</label><label></label>
<label style="font-size:20px;color:#3a87ad;">Like:</label><label></label>
</div>

<div style="position:absolute;top:30%;left:55%;">
<label style="font-size:20px;color:#3a87ad;">Overall rating:</label><label></label>
<label style="font-size:20px;color:#3a87ad;">Overall likes:</label><label></label>
</div>



<div style="position:absolute;top:40%;left:30%;">

<span class="label label-info-samar label-info-samar-blue">Previous comments:</span>

{#{% for comment in comments %}#}
 <span></span>
{#{% endfor %}#}
<br>
<br>

<span class="label label-info-samar label-info-samar-orange">Add comment:</span>
<br>
<br>
<textarea rows="4" cols="150">
</textarea>

</div>

{% endblock %}


